html {
	font-size: 12px; /* px means 'pixels': the base font size is now 10 pixels high  */
	font-family: 'Roboto', sans-serif;
	font-family: 'Raleway', sans-serif;
	background-color: #545353;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: black;
	padding: 0 20px 20px 20px;
	color: white;
	border: 5px solid red;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #1ACB2C;
	text-shadow: 3px 3px 1px purple;
}

p, li {
	font-size: 16px;    
	line-height: 2;
	letter-spacing: 1px;
}

img {
	display: block;
	margin: 0 auto;
}